/vendor
/node_modules

/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache

# misc
.DS_Store
.env*
!.env.example

out
*.key
*.crt

*.tfvars
.terraform.lock*
*.tfstate*
.terraform

coverage
newman
tmp

todo.txt

.phpunit.cache